//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=ghs_UNjbZeXC9LAa68txXgZQ1mPWpEoG1i3wSnED
//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=ghs_VVOT1G21kQW6sBO4oK5aY7rsNwiZa02uKtPO
